@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky: 400, 700|Roboto:100,200,300,400,500,600,700');

/*--------------------------------------------------------Colours-------------*/

.menu-color-home {
   background-color: #FC6336;
}
.menu-color-music {
    background-color: #7BB665;
}
.menu-color-hire-us {
    background-color: #00A6CB;
}
.menu-color-gallery {
    background-color: #794784;
}


/*-----------------------------------------------------Header-----------------*/

header {
    margin: 0;
}

.news-flash {
    text-align: center;
    background-color: #d21241;
    color: white;
    font-size: 16px;
    height: 30px;
    padding-top: 4px;
}

.news-flash a {
    color: white;
}

.header-image-contain {

    visibility: hidden;
}

.logo-image-contain {

    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    min-height: 240px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.heading {
    /*margin-left: 50px;*/
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
    border-radius: 60px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.menuitem a i {
    padding-top: 25px;
    display: block;
    color: white;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------------------Side Content Panel--*/

.border-home-side-content {
    border: 10px solid #FC6336;
    border-radius: 60px;
    text-align: center;
    padding: 15px;
    min-height: 360px;
    margin-top: 10px;
}

.border-home-side-content h3 {
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: 700;
}

.border-home-side-content p {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #525252;
}

.border-home-side-content a {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00A6CB;
    text-decoration: none;
}


/*---------------------------------------------------------Media Queries------*/

@media(min-width: 768px) {
    .header-image-contain {
    visibility: visible;
    background: url("../images/The_Monkees_1967.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}