@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky: 400, 700|Roboto:100,200,300,400,500,600,700');

/*--------------------------------------------------------Colours-------------*/

.color-home {
    background-color: #FC6336;
}

.color-music {
    background-color: #7BB665;
}

.color-hire-us {
    background-color: #00A6CB;
}

.color-gallery {
    background-color: #794784;
}

.color-text-home {
    color: #FC6336;
}

.color-text-music {
    color: #7BB665;
}

.color-text-hire-us {
    color: #00A6CB;
}

.color-text-gallery {
    color: #794784;
}


/*-----------------------------------------------------Header-----------------*/

header {
    margin: 0;
}

.news-flash {
    text-align: center;
    color: white;
    font-size: 16px;
    height: 30px;
    padding-top: 4px;
}

.news-flash a {
    color: white;
}

.header-image-contain {

    visibility: hidden;
}

.logo-image-contain {

    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    min-height: 240px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
    border-radius: 60px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.menuitem a i {
    padding-top: 25px;
    display: block;
    color: white;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------------------Side Content Panel--*/

.border-home-side-content {
    border: 10px solid #FC6336;
    border-radius: 60px;
    text-align: center;
    padding: 15px;
    /*min-height: 382px;*/
    margin-top: 10px;
}

.border-home-side-content h3 {
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: 700;
}

.border-home-side-content p {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #525252;
}

.border-home-side-content a {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00A6CB;
    text-decoration: none;
}


/*-------------------------------------------------------------Home Content---*/

.home-main-content {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #525252;
    
    border: 10px solid #FC6336;
    border-radius: 60px;
    padding: 15px;
    min-height: 360px;
    margin-top: 10px;
}

/*----------------------------------------------------------------Footer------*/

footer {
    border: 10px solid #595E62;
    border-radius: 60px;
    padding: 15px;
    min-height: 280px;
}

.footer-details {
    border: 10px solid #595E62;
    border-radius: 60px;
    padding: 15px;
    min-height: 360px;
    margin-top: 10px;
}

.footer-image {
    background: url("../images/The_Monkees_May_1967.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 240px;
    margin-top: 36px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.footer-text-section {
    color: #595E62;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 50px 0;
}

.social-section {
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: 500;
    color: #595E62;
    text-align: center;
    font-size: 18px;
    padding-top: 44px;
    padding-bottom: 22px;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

.social-links li a i {
    width: 52px;
    height: 52px;
    padding: 21px 0;
    border-radius: 50%;
    font-size: 40px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

/*---------------------------------------------------------Media Queries------*/

@media(min-width: 768px) {
    
    
    .footer-image {
        margin-top: 15px;
    }
}
@media(min-width: 992px) {
    .border-home-side-content {
        min-height: 382px;
    }
    
    .header-image-contain {
        visibility: visible;
        background: url("../images/The_Monkees_1967.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 360px;
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
    }
}
